
#header-nav {
  
  border-radius: 0;
  border: 0;
  color: white;
  background-color: grey;
}
body {
  font-size: 16px;
  color: #fff;
  font-family: 'Oxygen', serif;
}

section{
  background-color: grey;
  margin-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { 
  font-family: 'Oxygen', serif;
  color: white;
  font-size: 1.5em;
  text-transform: uppercase;

  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: white;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}


.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
    color: white;
    font-size: 2em;
  }
  .navbar-brand h1 { 
    padding-top: 10px;
    font-size: 5vw;
     color: white;
  font-size: 2em; /* 1vw = 1% of viewport width */
  }
 

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }


}
.title { 
  font-family: 'Oxygen', serif;
  color: grey;
  font-size: 3em;
  font-weight: bold;
  margin-top: 10;
  margin-bottom: 10;
  line-height: .75;
}
